:root {
  /* PUT OVERRIDES HERE */
  /*--links: #ff0000 !important;*/
  --elevated: #ffffff0a;
  --background-transparent: #161b22aa;
}

image {
  max-width: unset !important;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fit, 120px);
  grid-auto-flow: dense;
  grid-gap: 0.3rem;
  margin: auto;
}

/* reset ---------- */
html,
body {
  margin: auto;
  height: 100%;
  width: 100vw;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  transition: all 0.1s ease-in-out;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.bg-gradient {
  background: radial-gradient(
    circle at top right,
    var(--background) 0%,
    var(--background-body) 50%,
    var(--background-body) 90%
  );
}

/* WIDTH HEIGHT ---------------------------------*/
.mw-0 {
  min-width: 0;
}

.maxw-sm {
  max-width: 30rem;
}

.maxw-md {
  max-width: 40rem;
}

.sm {
  width: 1rem;
  height: 1rem;
}

.md {
  width: 2rem;
  height: 2rem;
}

.lg {
  width: 3rem;
  height: 3rem;
}

.xl {
  width: 4rem;
  height: 4rem;
}

.w-all {
  width: 100%;
}

.w-full {
  width: 100dvw;
}

.h-full {
  height: 100dvh;
}

.h-0 {
  height: 0;
}

.x-center {
  align-items: center;
}

.y-center {
  justify-content: center;
}

.y-bottom {
  align-items: baseline;
}

.flex-between {
  justify-content: space-between;
}

.align-bottom {
  align-items: flex-end;
}

.flex {
  display: flex;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.bg-grey {
  background-color: grey;
}

/* background color for elevations */
.bg-1 {
  background-color: rgba(255, 255, 255, 0.01);
}
.bg-2 {
  background-color: rgba(255, 255, 255, 0.03);
}
.bg-3 {
  background-color: rgba(255, 255, 255, 0.05);
}

.p-sm {
  padding: 4px;
}

.p-md {
  padding: 8px;
}

.p-lg {
  padding: 1rem;
}

.p-xl {
  padding: 2rem;
}

/* TEXT ---------------------------------------------*/
.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 1.2rem;
}

.text-lg {
  font-size: 1.4rem;
}

/* FONT ---------------------------------------------*/
.font-muted {
  color: var(--text-muted);
}

.font-main {
  color: var(--text-main);
}

.font-bold {
  font-weight: bold;
}

/* BORDER ---------------------------------- */
.border-dashed {
  border-style: dashed;
}

.border-grey {
  border-color: grey;
}

.border {
  border: 1px solid #fff2;
}

.border-1 {
  border-width: 1px;
}

.rounded {
  border-radius: 100%;
}

.rounded-sm {
  border-radius: 10px;
}

/* MARGIN ----------------------------------*/
.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

/* HOVER ----------------------------------*/
.hover-scale:hover {
  transform: scale(1.2);
}

.hover-font-yellow:hover {
  color: var(--links);
}

.hover-pointer:hover {
  cursor: pointer;
}

/* BACKGROUND ----------------------------------*/
.bg-elevated {
  background-color: var(--elevated);
}

/* SCROLL ----------------------------------*/
.y-scroll {
  overflow-y: scroll;
}
.h-scroll {
  overflow-y: scroll;
}

.hide-overflow {
  overflow: hidden;
}

/* OVERRIDES ----------------------------------*/
article {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--elevated);
  background: radial-gradient(
    circle at top right,
    var(--elevated) 0%,
    var(--background) 90%
  );
}

.frosted {
  backdrop-filter: blur(20px);
  border-right: 1px solid #fff1;
  border-top: 1px solid #fff1;
  border-left: 1px solid var(--background-transparent);
  border-bottom: 1px solid var(--background-transparent);
}

.bubble {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
  background: radial-gradient(
    circle at top right,
    white 0%,
    grey 50%,
    var(--background-body) 90%
  );
}

div.bubble {
  width: 400px;
  height: 400px;
  bottom: calc(50vh - 220px);
  right: calc(50vw - 0px);
  animation: myAnim 5s ease-in-out 0s infinite normal forwards;
}
div.bubble:nth-of-type(2) {
  width: 200px;
  height: 200px;
  bottom: calc(50vh - -200px);
  right: calc(50vw - 300px);
  animation: myAnim 4s ease-in-out 0s infinite normal forwards;
}
div.bubble:nth-of-type(3) {
  width: 100px;
  height: 100px;
  bottom: calc(50vh - 0px);
  right: calc(50vw - 200px);
  animation: myAnim 3s ease-in-out 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
