.grey-round {
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border-right: 1px solid color(srgb 0.3784 0.4042 0.43);
  border-top: 1px solid color(srgb 0.3784 0.4042 0.43);
}

.card {
  width: 10rem;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card > div > p:first-of-type {
  font-size: 4rem;
  margin: 0;
  color: #bfcedd;
  text-shadow: -4px 3px 7px #121316;
}

.card > div > p {
  margin: 0;
  color: #bfcedd;
  text-align: center;
}

.card > .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
  margin: 0;
  gap: 2px;
  font-size: 0.8rem;
}

.card > .buttons > button {
  flex: 1;
  margin: 0;
}

.card > .buttons > :first-child {
  background: none;
}
